#dcanvas {
    float:left;
    width:50%;
    overflow:hidden;
}

#scanvas {
    float:left;
    width:50%;
    overflow:hidden;
}

#helpcontainer {
    float:left;
    width:58%;
    overflow:hidden;
}

#keyscontainer {
    height: 220px;
    float:left;
    width:42%;
    overflow:hidden;
}

a{
  display:block;
  width:80px;
  height:80px;
  background:#222;
  border-radius:5px;
  color:#aaa;
  text-align:center;
  position: relative;
  box-shadow:
    inset 0 0 50px #333,
    0 4px 0 black,
    0 2px 0 #222,
    0 2px 3px #333;
  text-shadow:0 -1px 0 black;
  font: bold 15px/80px arial, sans-serif;
  text-transform:uppercase;
  cursor: pointer;
  border-top:1px solid #222;
}
a.active{
  color:#888;
  background:#222;
  box-shadow:
    inset 0 0 50px #333,
    0 0 3px #333;
  margin-top:4px;
}

.up{
  top:20px;
  left:150px;
}
.left{
  top:30px;
  left:60px;
}
.down{
  top:-50px;
  left:150px;
}
.right{
  right:-240px;
  top:-130px;
}
