#dcanvas {
    float:left;
    width:50%;
    overflow:hidden;
}

#scanvas {
    float:left;
    width:50%;
    overflow:hidden;
}

a{
  display:block;
  width:100px;
  height:100px;
  background:#222;
  border-radius:5px;
  color:#aaa;
  text-align:center;
  position:absolute;
  box-shadow:
    inset 0 0 50px #333,
    0 4px 0 black,
    0 2px 0 #222,
    0 2px 3px #333;
  text-shadow:0 -1px 0 black;
  font: bold 15px/100px arial, sans-serif;
  text-transform:uppercase;
  cursor: pointer;
  border-top:1px solid #222;
}
a.active{
  color:#888;
  background:#222;
  box-shadow:
    inset 0 0 50px #333,
    0 0 3px #333;
  margin-top:4px;
}

.up{
  top:510px;
  left:110px;
}
.left{
  top:624px;
  left:0;
}
.down{
  top:624px;
  left:110px;
}
.right{
  right:0;
  top:624px;
}
