doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content="A web application to control an IoT wheeled robot")
        meta(name="author" content="Atanas Abrashev")

        title RoboCar

        link(href="lib/bootstrap/css/bootstrap.min.css", rel="stylesheet")

        link(href="css/style.css", rel="stylesheet")

    body
        .container
            h1 Control RoboCar
            table(class="table table-hover")
                thead
                    tr
                        th Movement(Forward/Left/Right/Backward)
                        th Value
                tbody
                    tr
                        td Direction(Forward/Backwards)
                        td#throttle
                    tr
                        td Turn(Left/Right)
                        td#steer
            img(src='http://192.168.1.10:8080/?action=stream')

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script(src="lib/raphael-min.js")
        script(src="lib/raphael.tachometer.js/raphael.tachometer.min.js")
        script(src="lib/bootstrap/js/bootstrap.min.js")
        script(src="/socket.io/socket.io.js")
        script(src="//js.leapmotion.com/leap-0.6.3.min.js")
        script(src="js/common.js")
        script(src="js/phone_controller.js")
